.formulaire_selection_d_articles {

  label[for="champ_selection"] {
    background: url("imgs/emblem-favorite.png") no-repeat left -3px;
    padding-left: 30px;
    font-weight: bold;
    line-height: 2;
  }

  .saisie_selecteur_article {
    ul.select {
      width: 85%;
    }
    li.article {
      display: table;
      width: 85%;
      border-collapse: collapse;
      &> span {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        padding: 0 7px;
        &.puce_objet {
          width: 100px;
          img {
            position: relative;
            top: -3px;
          }
        }
        &.logo {
          width: 50px;
          display: block;
        }
        text-align: left;
      }
    }
    .item_picker {
      clear: none;
      float: right;
      width: 100%;
    }
    .sep {
      display: none !important;
    }
  }
}