.formulaire_selection_d_articles li.saisie_liste {

  padding: 0 10px;

  &> label {
    float: none;
    margin-left: 0;
    background: url("imgs/emblem-favorite.png") no-repeat left -3px;
    padding-left: 30px;
    font-weight: bold;
    line-height: 2;
    padding-bottom: 5px;
  }

  .saisie_selecteur_article {
    ul.select {
      width: 85%;
    }
    li.article {
      display: table;
      width: 100%;
      border-collapse: collapse;
      &> span {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        padding: 0 7px;
        text-align: left;
        &.puce_objet {
          width: 100px;
          img {
            position: relative;
            top: -3px;
          }
        }
        &.logo {
          width: 50px;
          display: block;
        }
        .date {
          font-weight: normal;
          font-size: 13px;
          float: right;
        }
      }
    }
    .item_picker {
      clear: none;
      float: right;
      width: 100%;
    }
    .sep {
      display: none !important;
    }
  }
}